/* BLOG */


article {
	margin-bottom:120px;
	
}

.post-header {

    max-width: 700px; 
    margin-left: auto;
    margin-right: auto;

}

.gdlr-blog-title {
	font-size:24px;
}

.gdlr-blog-content {

	p, .wp-video, h1, h2, h3, h4, h5, h6 {
	    max-width: 660px;
	    margin-left: auto;
	    margin-right: auto;
	}

	p {
		font-family: $font;
		font-size:16px;
		line-height: 28px;
		color:$text_black;

	}

	table {
		margin-bottom:20px;
		
		tr th {
			padding:28px 0;
		}
	}

}


.gdlr-blog-thumbnail { 

	position: relative;
	background: transparent; 

	.icon-bullhorn { margin-right: 9px; }

	.gdlr-sticky-banner { 
		position: absolute; bottom: 0px;  
		font-size: 12px; 
		font-weight: bold; 
		padding: 7px 15px; 
		text-transform: uppercase; 
	}

	&.gdlr-audio{ background: transparent; }



	> a > img { 	
		
		transition: opacity 300ms; 
		-moz-transition: opacity 300ms;
		-o-transition: opacity 300ms; 
		-webkit-transition: opacity 300ms;
		
		&:hover { 
			opacity: 0.8; 
			filter: alpha(opacity=80); 
		}
	}
}


.format-gallery .gdlr-blog-thumbnail{ background: transparent; }

