/* colors */

$text_black : #444;


/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:r,i,b');


$font : 'Libre Baskerville', serif;


/* COLORS */

$white : #ffffff;